---
import ThemeToggle from '../components/theme-toggle.astro'
import MainLayout from '../layouts/main-layout.astro'
---

<MainLayout>
  <main>
    <div class='h-[70vh] flex-center'>
      <h1 class='headline-h2'>Astro template</h1>
      
    </div>
  
  </main>
</MainLayout>
